
@theme {
  /* --- PRIMARY PALETTE --- */
  --color-primary-main: oklch(0.4877 0.1824 258.24);
  --color-primary-subtle: oklch(0.9142 0.0411 270.46);
  --color-primary-bold: oklch(0.4023 0.1503 258.21);
  --color-primary-deep: oklch(0.3153 0.1165 257.95);

  /* Primary Actions */
  --color-primary-hover: oklch(0.4877 0.1824 258.24 / 0.88);
  --color-primary-selected: oklch(0.4023 0.1503 258.21);
  --color-primary-disabled: oklch(0.4877 0.1824 258.24 / 0.48);
  --color-primary-outline: oklch(0.4877 0.1824 258.24 / 0.48);

  /* Subtle actions */
  --color-primary-subtle-hover: oklch(0.4877 0.1824 258.24 / 0.04);
  --color-primary-subtle-selected: oklch(0.4877 0.1824 258.24 / 0.12);

  /* --- SECONDARY PALETTE (Semantic) --- */
  /* Error / Red */
  --color-error-main: oklch(0.506 0.1927 27.7);
  --color-error-subtle: oklch(0.937 0.0321 12.99);
  --color-error-bold: oklch(0.4171 0.170153 27.3788);
  --color-error-deep: oklch(0.3275 0.1336 27.32);
  --color-error-hover: oklch(0.506 0.1927 27.7/0.88);
  --color-error-selected: oklch(0.4171 0.170153 27.3788);
  --color-error-disabled: oklch(0.506 0.1927 27.7/0.48);
  --color-error-outline: oklch(0.506 0.1927 27.7/0.48);
  /* Warning / Yellow */
  --color-warning-main: oklch(0.8476 0.1663 85.28);
  --color-warning-subtle: oklch(0.9578 0.0394 80.9);
  --color-warning-bold: oklch(0.4853 0.099354 85.9537);
  --color-warning-deep: oklch(0.3982 0.081573 85.3323);

  /* Success / Green */
  --color-success-main: oklch(0.7208 0.1688 134.53);
  --color-success-subtle: oklch(0.9381 0.0554 132.06);
  --color-success-bold: oklch(0.4701 0.13946 135.8582);
  --color-success-deep: oklch(0.3873 0.11506 135.9384);

  /* Info / Blue */
  --color-info-main: oklch(0.6711 0.1404 233.99);
  --color-info-subtle: oklch(0.9566 0.0227 241.88);
  --color-info-bold: oklch(0.4774 0.0997 233.84);
  --color-info-deep: oklch(0.3927 0.082464 234.258);

  /* --- ACCENT PALETTE --- */
  --color-accent-primary-main: oklch(0.594 0.2269 280.92);
  --color-accent-primary-subtle: oklch(0.9579 0.0232 299.37);
  --color-accent-primary-bold: oklch(0.4234 0.2394 275.21);
  --color-accent-primary-deep: oklch(0.3368 0.215953 272.5576);

  --color-accent-secondary-main: oklch(0.6717 0.1736 42.74);
  --color-accent-secondary-subtle: oklch(0.9588 0.0212 39.38);
  --color-accent-secondary-bold: oklch(0.498 0.1501 42.05);
  --color-accent-secondary-deep: oklch(0.3641 0.1098 42.04);
  /* --- NEUTRAL PALETTE (Light) --- */
  /* Surface */
  --color-surface-1: oklch(1 0 0);
  --color-surface-2: oklch(0.983 0.004 286.33);
  --color-surface-3: oklch(0.9651 0.0081 278.64);
  --color-surface-4: oklch(0.9493 0.0083 271.33);
  --color-surface-5: oklch(0.9312 0.0084 271.32);
  --color-surface-6: oklch(0.913 0.0084 271.32);

  --color-surface-deep: oklch(0.3959 0.0135 256.76);

  /* Outline */
  --color-outline-1: oklch(0.8701 0.0085 271.32);
  --color-outline-2: oklch(0.8282 0.0125 259.82);
  --color-outline-3: oklch(0.5677 0.0137 259.82);

  --color-neutral-deep: oklch(0.3959 0.0135 256.76);
  --color-neutral-bold: oklch(0.4821 0.0133 269.41);

  --color-backdrop: oklch(0.224 0.0099 248.27 / 0.6);

  /* Text */
  --color-text-primary: oklch(0.224 0.0099 248.27);
  --color-text-secondary: oklch(0.5677 0.0137 259.82);
  --color-text-disabled: oklch(0.7406 0.0092 264.51);
  --color-text-placeholder: oklch(0.7406 0.0092 264.51);

  --color-action-hover: oklch(0.224 0.0099 248.27 / 0.04);
  --color-action-selected: oklch(0.224 0.0099 248.27 / 0.12);
  --color-action-disabled: oklch(0.224 0.0099 248.27 / 0.12);

  --radius-btn-pill: 80px;

  --radius-radius-50: 4px;
  --radius-radius-100: 8px;

  /* Input */
  --color-input-default: oklch(0.5677 0.0137 259.82);

  /* Teardrop corners - default size */
  --radius-teardrop-tr: 2px;
  --radius-teardrop-tl: 20px;
  --radius-teardrop-br: 20px;
  --radius-teardrop-bl: 20px;

  /* Teardrop corners - small size */
  --radius-teardrop-tr-sm: 2px;
  --radius-teardrop-tl-sm: 32px;
  --radius-teardrop-br-sm: 32px;
  --radius-teardrop-bl-sm: 32px;

  /* Button spacing */
  --spacing-btn-h: 40px;
  --spacing-btn-px: 20px;
  --spacing-btn-py: 8px;
  --spacing-btn-h-sm: 32px;
  --spacing-btn-px-sm: 16px;
  --spacing-btn-py-sm: 6px;

  /* Button loading spacing (for square buttons when no children) */
  --spacing-btn-px-loading: 36px;
  --spacing-btn-py-loading: 12px;
  --spacing-btn-px-loading-sm: 24px;
  --spacing-btn-py-loading-sm: 9px;

  /* Display 1 */
  --font-size-display-1: 5rem;
  /* 80px */
  --leading-display-1: 5.75rem;
  /* 92px */
  --tracking-display-1: -0.046em;
  /* -0.75px */

  /* Display 2 */
  --font-size-display-2: 4rem;
  /* 64px */
  --leading-display-2: 4.75rem;
  /* 76px */
  --tracking-display-2: -0.015em;
  /* -0.25px */

  /* Display 3 */
  --font-size-display-3: 2.5rem;
  /* 40px */
  --leading-display-3: 2.875rem;
  /* 46px */
  --tracking-display-3: 0em;

  /* Heading 1 */
  --font-size-h1: 2rem;
  /* 32px */
  --leading-h1: 2.5rem;
  /* 40px */
  --font-weight-h1: 500;

  /* Heading 2 */
  --font-size-h2: 1.5rem;
  /* 24px */
  --leading-h2: 1.75rem;
  /* 28px */
  --font-weight-h2: 500;

  /* Heading 3 */
  --font-size-h3: 1.125rem;
  /* 18px */
  --leading-h3: 1.5rem;
  /* 24px */
  --font-weight-h3: 500;

  /* Body 1 / Button 1 / Link */
  --font-size-body-1: 1rem;
  /* 16px */
  --leading-body-1: 1.5rem;
  /* 24px */
  --tracking-body-1: 0.006em;
  /* 0.1px */

  /* Body 2 / Button 2 */
  --font-size-body-2: 0.875rem;
  /* 14px */
  --leading-body-2: 1.25rem;
  /* 20px */
  --tracking-body-2: 0.003em;
  /* 0.05px */

  /* Caption */
  --font-size-caption: 0.75rem;
  /* 12px */
  --leading-caption: 1rem;
  /* 16px */
  --tracking-caption: 0.008em;
  /* 0.1px */

  /* Button 1 */
  --font-size-button-1: 1rem;
  /* 16px */
  --leading-button-1: 1.5rem;
  /* 24px */
  --tracking-button-1: 0.006em;
  /* 0.1px */
  --font-weight-button-1: 500;

  /* Button 2 */
  --font-size-button-2: 0.875rem;
  /* 14px */
  --leading-button-2: 1.25rem;
  /* 20px */
  --tracking-button-2: 0.003em;
  /* 0.05px */
  --font-weight-button-2: 400;

  /* Link */
  --font-size-link: 1rem;
  /* 16px */
  --leading-link: 1.25rem;
  /* 20px */
  --tracking-link: 0em;
  /* 0px */

  /* Weights Extras */
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --shadow-active-input-error: 0px 0px 3px 0px var(--color-error-hover);
  --shadow-active-input: 0px 0px 6px 1px var(--color-action-selected);
  --shadow-field-hover: 0px 0px 4px 0px #0000003D;

  /* Dialog borders */
  --radius-dialog-tr: 8px;
  --radius-dialog-tl: 8px;
  --radius-dialog-br: 32px;
  --radius-dialog-bl: 32px;

  --radius-datagrid-header: 8px;

  /* Datagrid spacing */
  --spacing-datagrid-row-gap: 0;
  --spacing-datagrid-header-gap: 4px;
  --spacing-datagrid-cell-px: 16px;
  --spacing-datagrid-cell-py-spaced: 14px;
  --spacing-datagrid-cell-py-separated: 12px;

  /* Modal Shadows */
  --level-5-key-shadow-color: oklch(0.21 0.01 254.34 / 0.12);
  --level-5-ambient-shadow-color: oklch(0.21 0.01 254.34 / 0.06);

  /* Design System Shadows */
  --shadow-key-color: rgba(24, 28, 32, 0.12);
  --shadow-ambient-color: rgba(24, 28, 32, 0.06);

  --shadow-level-1: 0 1px 1px 0 var(--shadow-key-color), 0 1px 3px 1px var(--shadow-ambient-color);
  --shadow-level-2: 0 1px 3px 0 var(--shadow-key-color), 0 3px 6px 1px var(--shadow-ambient-color);
  --shadow-level-3: 0 2px 6px 0 var(--shadow-key-color), 0 6px 12px 2px var(--shadow-ambient-color);
  --shadow-level-4: 0 4px 12px 1px var(--shadow-key-color), 0 12px 24px 4px var(--shadow-ambient-color);
  --shadow-level-5: 0 4px 48px 1px var(--shadow-key-color), 0 48px 96px 8px var(--shadow-ambient-color);

  /* Shadow */
  --color-shadow-light-1: oklch(0.224 0.0099 248.27 / 5.88%);

  --color-shadow-light-2: oklch(0.224 0.0099 248.27 / 12.16%);
  --color-shadow-ambient-2: oklch(0.224 0.0099 248.27 / 5.88%);

  --shadow-key-1: 0 1px 1px 0 var(--color-shadow-light-1);
  --shadow-ambient-1: 0 1px 3px 1px var(--color-action-selected);

  --shadow-key-2: 0 1px 3px 0 var(--color-shadow-light-2);
  --shadow-ambient-2: 0 3px 6px 1px var(--color-shadow-ambient-2);

  --shadow-elevation-low-raised: 0px 2px 16px 0px var(--color-shadow-light-2);
  --shadow-elevation-mid-raised: 0px 8px 24px 0px var(--color-shadow-light-2);
  --shadow-elevation-high-raised: 0px 16px 48px -4px var(--color-shadow-light-2);
}

/* --- DARK MODE OVERRIDES --- */
.dark {
  /* Primary Dark */
  --color-primary-main: oklch(0.8288 0.0847 266.82);
  --color-primary-subtle: oklch(0.3153 0.1165 257.95);
  --color-primary-deep: oklch(0.9142 0.0411 270.46);

  /* Primary Action Dark (Baseados nas opacidades 8%, 10%, 12% da imagem) */
  --color-primary-hover: oklch(0.8288 0.0847 266.82 / 0.88);
  --color-primary-selected: oklch(0.7433 0.0843 266.14);
  --color-primary-disabled: oklch(0.8288 0.0847 266.82 / 0.48);

  /* Subtle actions */
  --color-primary-subtle-hover: oklch(0.8288 0.0847 266.82 / 0.12);
  --color-primary-subtle-selected: oklch(0.4877 0.1824 258.24 / 0.30);
  --color-primary-subtle-outline: oklch(0.4877 0.1824 258.24 / 0.48);

  /* error Dark */
  --color-error-main: oklch(0.8383 0.0891 26.76);
  --color-error-subtle: oklch(0.3275 0.1336 27.32);
  --color-error-deep: oklch(0.9183 0.041771 25.2259);

  --color-error-hover: oklch(0.8383 0.0891 26.76 / 0.12);
  --color-error-selected: oklch(0.8383 0.0891 26.76 / 0.30);
  --color-error-disabled: oklch(0.8383 0.0891 26.76 / 0.48);
  --color-error-outline: oklch(0.8383 0.0891 26.76 / 0.48);

  /* warning Dark */
  --color-warning-main: oklch(0.8476 0.1663 85.28);
  --color-warning-subtle: oklch(0.3122 0.0639 86.37);
  --color-warning-deep: oklch(0.9153 0.0905 84.84);


  /* success Dark */
  --color-success-main: oklch(0.8116 0.1733 134.02);
  --color-success-subtle: oklch(0.3035 0.09 135.87);
  --color-success-deep: oklch(0.8974 0.177 133.66);

  /* info Dark */
  --color-info-main: oklch(0.8219 0.1026 236.88);
  --color-info-subtle: oklch(0.3066 0.064653 234.5678);
  --color-info-deep: oklch(0.9118 0.0478 239.66);


  /* --- ACCENT PALETTE --- */
  --color-accent-primary-main: oklch(0.8329 0.0877 287.24);
  --color-accent-primary-subtle: oklch(0.3368 0.215953 272.5576);
  --color-accent-primary-deep: oklch(0.9166 0.0435 291.25);

  --color-accent-secondary-main: oklch(0.8359 0.0954 42.27);
  --color-accent-secondary-subtle: oklch(0.3207 0.0961 42.38);
  --color-accent-secondary-deep: oklch(0.9181 0.044 40.87);

  /* --- NEUTRAL PALETTE (dark) --- */
  /* Surface */
  --color-surface-1: oklch(0.164 0.0111 268.01);
  --color-surface-2: oklch(0.1879 0.0103 276.44);
  --color-surface-3: oklch(0.224 0.0099 248.27);
  --color-surface-4: oklch(0.2408 0.0115 278.01);
  --color-surface-5: oklch(0.2769 0.0096 268.32);
  --color-surface-6: oklch(0.3289 0.0092 268.38);

  /* Outline */
  --color-outline-1: oklch(0.3959 0.0135 256.76);
  --color-outline-2: oklch(0.4821 0.0133 269.41);
  --color-outline-3: oklch(0.5677 0.0137 259.82);
  --color-outline-4: oklch(0.983 0.004 286.33 / 0.12);


  /* Text */
  --color-text-primary: oklch(0.983 0.004 286.33 / 0.87);
  --color-text-secondary: oklch(0.983 0.004 286.33 / 0.60);
  --color-text-disabled: oklch(0.983 0.004 286.33 / 0.38);
  --color-text-placeholder: oklch(0.983 0.004 286.33 / 0.38);

  /* Input */
  --color-input-default: oklch(0.7406 0.0092 264.51);

  /* Design System Shadows (Dark) */
  --shadow-key-color: oklch(0.224 0.0099 248.27 / 0.24);
  --shadow-ambient-color: oklch(0.224 0.0099 248.27 / 0.16);
  --shadow-level-1: 0 1px 1px 0 var(--shadow-key-color), 0 1px 3px 1px var(--shadow-ambient-color);
  --shadow-level-2: 0 1px 3px 0 var(--shadow-key-color), 0 3px 6px 1px var(--shadow-ambient-color);
  --shadow-level-3: 0 2px 6px 0 var(--shadow-key-color), 0 6px 12px 2px var(--shadow-ambient-color);
  --shadow-level-4: 0 4px 12px 1px var(--shadow-key-color), 0 12px 24px 4px var(--shadow-ambient-color);
  --shadow-level-5: 0 4px 48px 1px var(--shadow-key-color), 0 48px 96px 8px var(--shadow-ambient-color);
  /* Shadow */
  --color-shadow-light-1: oklch(0.75 0.01 248.27 / 8%);
  --color-shadow-light-2: oklch(0.75 0.01 248.27 / 14%);
  --color-shadow-ambient-2: oklch(0.75 0.01 248.27 / 8%);

  --shadow-key-1: 0 1px 1px 0 var(--color-shadow-light-1);
  --shadow-ambient-1: 0 1px 3px 1px var(--color-action-selected);

  --shadow-key-2: 0 1px 3px 0 var(--color-shadow-light-2);
  --shadow-ambient-2: 0 3px 6px 1px var(--color-shadow-ambient-2);

  --shadow-elevation-low-raised: 0px 2px 16px 0px var(--color-shadow-light-2);
  --shadow-elevation-mid-raised: 0px 8px 24px 0px var(--color-shadow-light-2);
  --shadow-elevation-high-raised: 0px 16px 48px -4px var(--color-shadow-light-2);
}
